main {
  height: 200vh;
  background-color: rgb(164, 182, 182);
}

a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 21px;
  padding: 14px;
  font-family:"NarrowNews", sans-serif;
}

a:hover{
  color: red;
}
.navbar{
  
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: rgb(102,102,102);
  padding: 1px;
}






@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 